* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    background-color: #272626; 
    color: white;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
  
  
  .layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  
  .main-content {
    flex: 1;
    padding: 16px;
  }