.welcome-container {
    text-align: center;
    padding: 2rem;
    background: #FFE1EA;
    position: relative;
    overflow: hidden;
  }
  
  .model-viewer {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #5A2634;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005fa3;
  }
  