/* login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #FFE1EA;
  text-align: center;
}

.login-btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #5A2634;
  color: #FFE1EA;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #da7f99;
}
