header{
    background-color: #5A2634; 
    padding: 16px;
    text-align: center;
    font-size: 1.8rem; 
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 10px;
    
}
a{
    text-decoration: none;
    color:white;
}
.header-content {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.header-content img{
    height: 50px;
    margin-left: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
    font-size: 20px;
}

nav a:hover{
    color: black;
}
