seccion-principal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  height: 100vh; /* Toda la altura visible del navegador */
}

/* Contenedor común para ambos artículos */
.articulo, .articulo1, .articulo2{
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(2, 2, 66, 0.1);
  font-family: Georgia, serif;
  font-size: 1.1rem;
  line-height: 1.6;
  transition: all 0.3s ease;
  max-width: 95%;
  margin: 0 auto;
  
}

/* Estilo de los encabezados de ambos artículos (botones) */
.articulo h1, .articulo1 h1, .articulo2 h1 {
  margin: 0;
  background: #f4f4f4;
  padding: 1.2rem;
  border-radius: 10px;
  font-weight: bold;
  color: #5A2634;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s;
  
}

/* Artículos con texto */
.articulo article, .articulo1 article, .articulo2 article {
  padding: 20px;
  font-family: Georgia, serif;
  border-radius: 8px;
  background-color: #fff; /* Fondo blanco para los artículos */
}

.articulo p, .articulo1 p, .articulo2 p {
  margin-bottom: 10px;
  line-height: 1.6;
  text-align: justify;
}

/* Sección del modelo 3D (derecha) */
.modelo {
  flex: 1;
  min-width: 300px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center
  
}

.modelo h1 {
  margin-bottom: 20px;
  background-color: #FFE1EA;
}

.model-viewer {
  width: 100%;
  height: 600px;
  border-radius: 8px;
  background-color: #FFE1EA;
  max-width: 1000px; /* Opcional: más ancho */
  margin: 0 auto; /* Centrado */
  
}

.texto-contenedor {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 300px;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.toggle-icon {
  width: 26px;
  height: 26px;
  object-fit: contain;
  transition: transform 0.3s ease;
}


.icon-container {
  margin-left: 0.75rem;
  display: flex;
  align-items: center;
}
